{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style type="text/css">
    body{
      background-image:url("{% static 'd.jpg' %}");
    }
  </style>

    <title>Project</title>
  </head>
  <body>


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'home' %}">To-Do List</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
    <form class="form-inline my-2 my-lg-0" action="{% url 'home' %}" method="POST">
      {% csrf_token %}
      <input class="form-control mr-sm-2" type="search" placeholder="Add Item" aria-label="Search" name="item">
      <input class="form-control mr-sm-2" type="time" placeholder="Time" name="time" required>
      <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Add To List</button>
    </form>
  </div>
</nav>
<br>
<div class="container">
<h2 style="background-color: grey; font-size: 18px; padding: 15px 20px;">
<script>
  var today= new Date();
  var dd=today.getDate()+"/"+(today.getMonth()+1)+"/"+today.getFullYear();
  document.write("Date : ",dd);
</script>
<br>
Thought Of The Moment : <span style="color:yellow;">{{thought}}</span>
</h2>
    {% if messages %}
    {% for message in messages %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
          {{ message }}
      </div>
    {% endfor %}
  {% endif %}
  <table class="table table-bordered">
    {% for i in all_items %}
    {% if i.completed %}
      <tr class="table table-secondary">
        <td>{{ i.time }}</td>
        <td><a style="text-decoration: line-through;" href="{% url 'edit' i.id %}">{{ i.item }}</a></td>
        <td><center><a href="{% url 'uncross' i.id %}">Uncross</a></center></td>
        <td><center><a href="{% url 'delete' i.id %}">Delete</a></center></td>
      </tr>
    {% else %}
      <tr>
        <td>{{ i.time }}</td>
        <td><a href="{% url 'edit' i.id %}">{{ i.item }}</a></td>
        <td><center><a href="{% url 'cross_off' i.id %}">Cross_off</a></center></td>
        <td><center><a href="{% url 'delete' i.id %}">Delete</a></center></td>
      </tr>
    {% endif %}
    {% endfor %}
  </table>
  
</div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>